<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName www.abcd.com
    Redirect permanent / https://www.abcd.com
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
<VirtualHost default *:443>

#   General setup for the virtual host
DocumentRoot "/var/www/abcd"
ServerName www.abcd.com:443
ServerAdmin you@example.com

#   Enable/Disable SSL for this virtual host.
SSLEngine on

#   Server Certificate:

SSLCertificateFile "/home/hacker/certificate/abcd.crt"

#   Server Private Key:

SSLCertificateKeyFile "/home/hacker/certificate/abcd.key"

#   Server Certificate Chain:

SSLCertificateChainFile "/home/hacker/certificate/chained2.crt"

#   Certificate Authority (CA):

#SSLCACertificatePath "/home/hacker/certificate"


</VirtualHost>
